# Architecture Overview: {{projectName}}

{{#problemContent}}
## Problem
{{{problemContent}}}

{{/problemContent}}
{{#targetAudienceContent}}
## Zielgruppe
{{{targetAudienceContent}}}

{{/targetAudienceContent}}
## MVP
{{#mvpContent}}{{{mvpContent}}}{{/mvpContent}}
{{^mvpContent}}Noch nicht definiert.{{/mvpContent}}

## Entscheidungen

| Entscheidung | Gewaehlt | Begruendung |
|-------------|----------|-------------|
{{#decisions}}
| {{title}} | {{chosen}} | {{rationale}} |
{{/decisions}}
{{^decisions}}
Keine Entscheidungen getroffen.
{{/decisions}}

{{#architectureContent}}
## Architektur
{{{architectureContent}}}
{{/architectureContent}}
