# Implementation Plan

{{#epics}}
## {{title}}
{{description}}

{{#stories}}
### {{title}}
{{description}}

{{#tasks}}
- [ ] **{{title}}** ({{estimate}}) — {{description}}
{{/tasks}}

{{/stories}}
{{/epics}}
