---
type: {{type}}
status: {{status}}
estimate: {{estimate}}
priority: {{priority}}
{{#parentId}}parent: {{parentId}}
{{/parentId}}{{#specSection}}spec-section: {{specSection}}
{{/specSection}}{{#dependencies}}dependencies: {{dependencies}}
{{/dependencies}}---

# {{title}}

{{description}}
