# Feature Set: {{projectName}}

Jedes Feature ist eine eigenstaendige, implementierbare Einheit.

## Reihenfolge

| # | Feature | Datei | Abhaengig von | Aufwand |
|---|---------|-------|---------------|---------|
{{#features}}
| {{number}} | {{title}} | [{{filename}}]({{filename}}) | {{dependencies}} | {{estimate}} |
{{/features}}

## Tech-Stack

{{techStack}}
